apache-airflow-providers-mysql==4.0.1
apache-airflow-providers-snowflake==4.0.2
apache-airflow-providers-slack==7.3.0
apache-airflow-providers-microsoft-mssql==3.3.2
apache-airflow-providers-dbt-cloud==3.2.0
apache-airflow-providers-google==10.1.1
airflow-provider-fivetran==1.1.2

google-auth==2.17.3
google-cloud-storage==2.9.0
gspread==5.5.0
pyarrow==8.0.0
PyMySQL==1.0.2